img {
    height :300px;
    width: 300px;
}

h2{
    color: steelblue;
    font-size: 40px;
    margin-left: 0;
}

h4{
    font-size: 25px;
    color: cadetblue;
}

body{
    width:30%;
    margin: 0 auto;
    text-align: center;
}

div{
    text-align: center;
}